.row {
  /* --bs-gutter-x: 0 rem; */
  --bs-gutter-x: 1.5 rem;
}

body {
  background-color: black;
  background-image: url('../assets/pattern.svg');
  background-size: 150px 150px;
}

.navbar {
  height: auto;
  background-color: #f7b238;
}

.navbar img {
  width: 60px;
}

.navbar:after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -110px;
  height: 110px;
  background-image: url('../assets/honey-smudges.svg');
  background-repeat: repeat-x;
  z-index: -1;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-around;
  /* margin-left: 17%; */
}

.custom__brand {
  margin-top: 10px;
  color: #000;
  font-size: 42px;
  font-weight: 700;
  font-family: Jolly Lodger, cursive;
  text-align: left;
}
.keywords__title {
  width: auto;
  line-height: 1;
  font-size: 32px;
  font-weight: 700;
  margin-top: 10px;
}

.block_title {
  text-align: center;
  /* margin-bottom: 15px; */
  font-size: 24px;
  font-weight: 600;
}

/* * -------------------------------------- MAIN HEADER -----------------------------------*/

.main_content {
  margin-top: 120px;
  color: white;
}
.main_title {
  font-size: 44px;
  line-height: 1.2;
}
.fire_img {
  max-width: 90px;
  min-width: 50px;
  width: 80%;
}

.main_content_custom_row {
  width: 80%;
  height: 7px;
  margin-top: 25px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7b238;
  border-radius: 5px;
}

@media only screen and (max-width: 992px) {
  .main_title {
    font-size: 34px;
  }
  .fire_img {
    width: 70px;
  }
  .fire_block {
    width: 15%;
  }
  .main_title {
    width: 70%;
  }
  .main_content_custom_row {
    width: 93%;
  }
}
@media only screen and (max-width: 576px) {
  .main_title {
    font-size: 22px;
  }
  .fire_img {
    width: 80%;
  }
  .fire_block {
    width: 20%;
  }
  .main_title {
    width: 60%;
  }
  .main_content_custom_row {
    width: 90%;
  }
}

/* * -------------------------------------- MAIN -----------------------------------*/

.advantage_row {
  border: 3px solid #f7b238;
  border-radius: 5px;
  margin-top: 35px;
  padding-top: 15px;
}

.legend_block_text {
  padding-left: 20px;
}

main {
  color: white;
}
.subtitle {
  margin-top: 10px;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: medium;
}

@media only screen and (max-width: 576px) {
  .legend_block_text {
    padding-left: 0px;
  }
  .advantage_row {
    border: 3px solid #f7b238;
    border-radius: 5px;
    margin-top: 15px;
    padding-top: 15px;
    padding-right: 10px;
  }
}
