.row {
  --bs-gutter-x: 1.5 rem;
}

body {
  background-color: rgb(29, 27, 27);
  background-image: url('../assets/pattern.svg');
  background-size: 150px 150px;
  font-size: calc(12px + 0.3vw);
}

.navbar {
  height: auto;
  background-color: #f7b238;
}

.navbar img {
  width: 60px;
}

.insta_logo {
  margin-right: 10px;
}
.facebook_logo {
  margin-left: 10px;
}

.navbar:after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -110px;
  height: 110px;
  background-image: url('../assets/honey-smudges.svg');
  background-repeat: repeat-x;
  z-index: -1;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-around;
}

.custom__brand {
  margin-top: 10px;
  color: #000;
  font-size: 80px;
  font-weight: 700;
  font-family: Jolly Lodger, cursive;
  text-align: left;
}
@media only screen and (max-width: 992px) {
  .custom__brand {
    font-size: 68px;
  }
}
@media only screen and (max-width: 576px) {
  .custom__brand {
    font-size: 48px;
  }
}

.main_color {
  color: #f7b238;
}

.keywords__title {
  width: auto;
  line-height: 1;
  font-size: 32px;
  font-weight: 700;
  margin-top: 10px;
}

.block_title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

/* * -------------------------------------- MAIN HEADER -----------------------------------*/
.legend_img {
  width: 100%;
}
.main_content {
  margin-top: 120px;
  color: white;
}
.main_title {
  font-size: 44px;
  line-height: 1.2;
}
.fire_img {
  max-width: 90px;
  min-width: 50px;
  width: 80%;
}

.main_content_custom_row {
  width: 80%;
  height: 7px;
  margin-top: 25px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7b238;
  border-radius: 5px;
}

.main_content_footer {
  font-size: 20px;
}

@media only screen and (min-width: 993px) {
  .fire_left {
    margin-right: 20px;
  }
  .fire_right {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .fire_img {
    width: 70px;
  }
  .main_title {
    width: 70%;
    font-size: 34px;
  }
  .main_content_custom_row {
    width: 93%;
  }
  .main_content_footer {
    font-size: 18px;
    font-weight: 500;
  }
}
@media only screen and (max-width: 576px) {
  .main_content_footer {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
  }
  .main_title {
    font-size: 22px;
  }
  .fire_img {
    width: 80%;
  }
  .fire_block {
    width: 20%;
  }
  .main_title {
    width: 60%;
  }
  .main_content_custom_row {
    width: 90%;
  }
  .legend_img {
    width: 80%;
  }
}

/* * -------------------------------------- MAIN -----------------------------------*/

.advantage_row {
  border: 3px solid #f7b238;
  border-radius: 5px;
  margin-top: 35px;
  padding-top: 15px;
}

.legend_block_text {
  padding-left: 20px;
}

main {
  color: white;
}
.subtitle {
  margin-top: 10px;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: large;
}

@media only screen and (max-width: 576px) {
  .legend_block_text {
    padding-left: 0px;
  }
  .advantage_row {
    border: 3px solid #f7b238;
    border-radius: 5px;
    margin-top: 15px;
    padding-top: 15px;
    padding-right: 10px;
  }
  .subtitle {
    font-size: 17px;
    font-weight: 500;
  }
  .logo_block {
    margin-top: 15px;
    margin-right: 20px;
  }
}

/* * ------------------------------- COMMISION --------------------------------------------  */
.glass_bees_img {
  max-width: 150px;
  width: 50%;
}
.strategy_bees_img {
  max-width: 300px;
  width: 70%;
}
.strategy_block_title {
  border: 3px solid #f7b238;
  border-radius: 5px;
  margin-top: 35px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 576px) {
  .glass_bees_img {
    width: 40%;
  }
  .strategy_block_title {
    margin-top: -120px;
    min-width:  320px;
  }

  .strategy_bees_img {
    transform: rotate(0.15turn);
    width: 45%;
    margin-bottom: 20px;
    margin-right: 110px;
    text-align: start;
  }
}
